body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header,
footer {
  margin: 0 auto;
  border: 1px solid #a4afc1;
  padding: 0.5rem;
  background-color: #dcd0ba;
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

main {
  margin: 1rem auto;
  background-color: #b6b38a;
  padding: 1rem;
}

footer {
  grid-template-columns: 1fr 300px;
}

h1 {
  color: #323b3a;
  font-size: 2.2rem;
}

h2 {
  color: #3a3730;
}

p {
  color: #070707;
}

/* Class Selectors */

/* .page max-width suggested to be at least 960px. */
.page {
  max-width: 970px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: auto;
}
