body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header,
footer {
  margin: 0 auto;
  border: 1px solid #bbbbbb;
  padding: 0.5rem;
  background-color: #eeeeee;
}

main {
  margin: 1rem auto;
  background-color: #bed;
  padding: 1rem;
}

h1 {
  color: #000080;
  font-size: 2.2rem;
}

/* Class Selectors */
.page {
  max-width: 760px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: auto;
}
