/*   CSS basic box model. CSS determines the size, position, and properties (color, background, border size, etc.) of these boxes.

Every box is composed of four parts (or areas), defined by their respective edges: the content edge, padding edge, border edge, and margin edge.

-- MDN Intro to CSS Basic Box Model  */

:root {
  /*  other -- use rem base (scale to font size)  */
  --maxwidth: 960px;
  --headfootcolor: #d8d2c6;
  --wallpaperaltcolor: #b0b59e;
  /* --wallpaperaltcolor: #d8d6bd; */
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  /*  Agnes to choose height  */
  height: 100vh;
  /*  Agnes to choose font  */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  margin: 0 auto;
  border: 1px solid #543930;
  padding: 0.5rem;
  background-color: #e9d9b5;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/*
header {
  grid-template-columns: 200px 1fr;
}
*/

/*
.footer {
  max-width: var(--maxwidth);
*/

main {
  margin: 1rem auto;
  background-color: #f0e9cf;
  padding: 1rem;
}

footer {
  grid-template-columns: 1fr 400px;
}

/*  css rules  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #4e6181;
  font-size: 2.2rem;
  /*  Agnes to choose font.
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: "Courier New", Courier, monospace;  */
}

h2 {
  color: #ea7222;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h3 {
  color: #384208;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
}

p {
  color: #543930;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.mainnav {
  list-style-type: none;
  /*  "list-style-type: none"  gets rid of bullets  */
  display: flex;
  /*  "flex"  children items work together in a row  */
  /* width: 100%;
   "width" was auto */
  /* margin: 0; */
  /* padding: 0; */
  text-align: center;
}

.mainnav li {
  flex: 1 1 auto;
  /*  1 to 1 relationship and auto fills  */
}

.mainnav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  /*  Agnes choose colors  darkbrown#5b5557*/
  background-color: #7e7645;
  border: 1px solid #444;
  /*  Agnes try changing font-size from 1.2rem  */
  font-size: 1.2rem;
  /* Agnes try to change text color */
  color: #fab77f;
  /* color: #ea7222; */
}

.mainnav a:hover {
  /*  Agnes to choose colors  */
  color: #eecfa5;
  background-color: #4e6181;
  font-weight: 700;
}

.pageheading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin: 20px auto;
  padding: 1em;  */
}

.logo {
  /*  not needed- position: relative;  */
  grid-column: 1/2;
  grid-row: 1/2;
  /*  text-align: center;  */
  padding-right: 20px;
}

.named {
  /*  not needed- position: relative;  */
  grid-column: 2/3;
  grid-row: 1/2;
  /* not needed- justify-self: center; */
}

.named p {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

.email a {
  /*  no text-decoration, don't want underline etc.  */
  text-decoration: none;
  text-align: right;
}

.page {
  max-width: var(--maxwidth);
  margin: 0 auto;
  /*  height: 100vh;  = remove, caused the Header to not be in view. */
  /*  display: flex;  in body only applies to its children.  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallpaper {
  background-image: url("../images/meme_wixom_faith_beyond_reason.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--wallpaperaltcolor);
}
