/*   Agnes Haymore: Intro Web final project (Fall 2021). Brother Blazzard.  */

:root {
  /*  other -- use rem base (scale to font size)  */
  --maxwidth: 960px;
  --headfootcolor: #d8d2c6;
  --wallpaperaltcolor: #b0b59e;
  --darkorange: #ea7222;
  /* --wallpaperaltcolor: #d8d6bd; */
}

body {
  font-size: 16px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

header,
footer {
  margin: 0 auto;
  border: 1px solid #543930;
  padding: 0.5rem;
  background-color: #e9d9b5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 1rem auto;
  background-color: #f0e9cf;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  grid-template-columns: 1fr 400px;
}

/*  css rules  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px;
  /* padding-bottom: 5px; */
}

h2 {
  color: #4e6181;
  font-size: 2rem;
  /*  Agnes to choose font.  */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /*  font-family: "Courier New", Courier, monospace;  */
  margin: 10px;
}

h3 {
  color: var(--darkorange);
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  color: #384208;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  margin-top: 15px;
}

p {
  color: #543930;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.mainnav {
  list-style-type: none;
  /*  "list-style-type: none"  gets rid of bullets  */
  display: flex;
  text-align: center;
}

.mainnav li {
  flex: 1 1 auto;
  /*  1 to 1 relationship and auto fills  */
}

.mainnav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  /*  Agnes choose colors  darkbrown#5b5557*/
  background-color: #7e7645;
  border: 1px solid #444;
  font-size: 1.2rem;
  /* Agnes try to change text color */
  color: #fab77f;
  /* color: #ea7222; */
}

.mainnav a:hover {
  /*  Agnes to choose colors  */
  color: #eecfa5;
  background-color: #4e6181;
  font-weight: 700;
}

.pageheading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin: 20px auto;
  padding: 1em;  */
}

.logo {
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.welcome {
  font-family: cursive;
  font-size: 3rem;
  color: var(--darkorange);
  padding: 40px;
}

.homerow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.homebubble {
  height: 320px;
  background-color: var(--headfootcolor);
  padding: 20px;
}

.homebubble p {
  line-height: 1.6;
}

.homeimage {
  padding: 20px;
}

.homeimage h2 {
  margin: 0px;
  padding-bottom: 20px;
  color: #384208;
}

.sfbaynature {
  padding-bottom: 40px;
}

.compass {
  background-image: url("../images/quote_monson_compass-small.jpeg");
  width: 120px;
  height: 240px;
  background-color: var(--wallpaperaltcolor);
  flex-direction: column;
  padding-left: 10px;
}

.compass h3 {
  margin: 15px;
}

.compass,
.hikeimage {
  padding: 10px;
}

.subjects {
  width: 96%;
  background-image: url("../images/quote_monson_beach-small.jpeg");
  background-color: #f2d0a2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  padding-bottom: 40px;
}

.subjects h3 {
  color: #ffffff;
  text-shadow: 2px 2px #8f7860;
  font-family: Arial, Helvetica, sans-serif;
}

.listing {
  display: flex;
  flex-direction: column;
}

.listing h2 {
  text-align: center;
}

.youthbubble {
  height: 600px;
  width: 160px;
  background-color: var(--headfootcolor);
  padding: 20px;
  line-height: 1.6;
}

.thanks {
  font-family: cursive;
  font-size: 1.6rem;
  color: var(--darkorange);
  padding: 40px;
}

.items {
  border-radius: 60px;
  padding: 2rem;
  background-color: var(--headfootcolor);
  text-align: left;
  margin: 40px;
  line-height: 1.6;
}

form {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  width: 450px;
  align-items: center;
}

label,
input,
textarea,
select,
button {
  padding: 0.35rem;
  font-size: 1.1rem;
}

label {
  text-align: right;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #cdccba;
}

button {
  grid-column: 1/3;
}

.email a {
  /*  no text-decoration, don't want underline etc.  */
  text-decoration: none;
  text-align: right;
}

.page {
  max-width: var(--maxwidth);
  margin: 0 auto;
  /*  height: 100vh;  = remove, caused the Header to not be in view. */
  /*  display: flex;  in body only applies to its children.  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallpaper {
  background-image: url("../images/meme_wixom_faith_beyond_reason.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--wallpaperaltcolor);
}
